<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.is.project.board.database.LoginMapper">

	<select id="Login" >
		SELECT *
		FROM USER_TBL
		WHERE
		ID = #{id}
		AND
		PASSWORD = #{pwd}
	
	</select> 

	<select id= "isUser">
		SELECT *
		FROM
		USER_TBL
		WHERE
		ID = #{user_id}
	</select>
	<insert id="signUp">
	
	</insert>
</mapper>